.versionRow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  margin: 0 -8px;

  &:hover::before {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.1;
    border-radius: 2px;
    background: var(--ifm-color-primary)
  }
}

.downloadBtn {
  display: block;
  margin: 0 8px;
}

.operations {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-end;
  margin: 0 8px;
}

.versionsContainer {
  margin-bottom: 16px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
